<%= javascript_include_tag 'moment.min.js', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'fullcalendar.min.js', 'data-turbolinks-track' => true %>

<script>
	$(document).ready(function () {

		function user_dict(user_id) {
			console.log(user_id);
		}

		$('#calendar').fullCalendar({
			header: {
				left: 'prev, next',
				right: 'agendaWeek, agendaDay'
			},
			defaultView: 'agendaWeek',
			defaultDate: '2016-07-18',
			gotoDate: '2016-07-18',
			hiddenDays: [
				4, 5
			],
			minTime: '14:00',
			maxTime: '22:30',
			aspectRatio: 1,
			weekends: false,
			allDaySlot: false,
			nowIndicator: true,
			editable: true,
			eventLimit: true, // allow "more" link when too many events
			eventDurationEditable: false,
			viewRender: function (currentView) {
				var minDate = new Date('2016-07-18');
				maxDate = new Date('2016-07-21');

				if (minDate >= currentView.start && minDate <= currentView.end) {
					$(".fc-prev-button").prop('disabled', true);
					$(".fc-prev-button").addClass('fc-state-disabled');
				} else {
					$(".fc-prev-button").removeClass('fc-state-disabled');
					$(".fc-prev-button").prop('disabled', false);
				}
				// Future
				if (maxDate >= currentView.start && maxDate <= currentView.end) {
					$(".fc-next-button").prop('disabled', true);
					$(".fc-next-button").addClass('fc-state-disabled');
				} else {
					$(".fc-next-button").removeClass('fc-state-disabled');
					$(".fc-next-button").prop('disabled', false);
				}
			},
			eventSources: [
				{
					url: '/api/live.json',
					type: 'GET',
					error: function () {
						alert('there was an error while fetching events!');
					},
					success: function (json) {
						var user_idObj = {};
						$.each(json, function (index, data) {

							if(!(data['user_id'] in user_idObj))
								user_idObj[data['user_id']] = 1;
							else
								user_idObj[data['user_id']] += 1;

							data['id'] = index;

							data['title'] += ('\n' + data['school'] + '\n' + data['department']);

							$.each(data, function (key, value) {
								if (key === 'start' || key === 'end')
									data[key] = new Date(value);
								}
							)
						})

						$.each(json, function (index, data) {
							if(user_idObj[data['user_id']] <= 2)
								data['color'] = '#333399';
							else if(user_idObj[data['user_id']] <= 4 )
								data['color'] = '#009933';
							else
								data['color'] = '#CC9933';
						})
						console.log(json);
					}
				}
			],
			eventDrop: function (event, delta, revertFunc) {
				//alert(event.title + " was dropped on " + event.start.format()); 這裡要寫auto save
			},
			eventClick: function (calEvent, jsEvent, view) {
				console.log(calEvent);
				//alert('Event: ' + calEvent.title); change the border color just for fun $(this).css('border-color', 'red');
			}
		});

	});
</script>
<style>

	body {
		margin: 40px 10px;
		padding: 0;
		font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
		font-size: 14px;
	}

	#calendar {
		margin: 0 auto;
	}

</style>
<div id='calendar'></div>
