<style>
	table {
		border-collapse: collapse !important;
	}

	table,
	td,
	th {
		border: 1px solid black !important;
	}
	.table > tbody > tr > td.time_td {
		vertical-align: middle;
	}

	.thaed_css {
		width: 31.666%;
	}

	.final_slot {
		background-color: white;
	}

	.mon_td,
	.tue_td,
	.wed_td {
		background-color: rgba(0, 0, 0, 0.2);
	}

	.mon_td_event,
	.tue_td_event,
	.wed_td_event {
		width: 30px;
	}

</style>

<%= render "live_nav" %>

<table class="table text-center table-condensed">
	<thead>
		<tr>
			<th style="width: 5%;"></th>
			<th class="text-center thaed_css" colspan="5">Monday 7/18</th>
			<th class="text-center thaed_css" colspan="5">Tuesday 7/19</th>
			<th class="text-center thaed_css" colspan="5">Wednesday 7/20</th>
		</tr>
	</thead>
	<tbody></tbody>
</table>

<script type="text/javascript">
	var user_idObj = {},
			time_idObj = {37:[], 38:[], 39:[], 40:[], 41:[], 42:[], 43:[], 44:[], 45:[], 46:[],
										47:[], 48:[], 49:[], 50:[], 51:[], 52:[], 53:[], 54:[], 55:[], 56:[],
										57:[], 58:[], 59:[], 60:[], 61:[], 62:[], 63:[], 64:[], 65:[], 66:[]},
			time_startArr = [],
			time_endArr = [];
	var json = (function () {
		var json = null;
		$.ajax({
			'async': false,
			'global': false,
			'url': 'http://ioh.rocks/api/live.json',
			'dataType': "json",
			'success': function (data) {
				json = data;
				$.each(json, function (index, data) {

					if (!(data['user_id'] in user_idObj))
						user_idObj[data['user_id']] = 1;
					else
						user_idObj[data['user_id']] += 1;

					data['id'] = index;

					data['title'] += ('<br>' + data['school'] + '<br>' + data['department']);

					$.each(data, function (key, value) {
						if (key === 'start') {
							var date = new Date(value);
							data[key] = (date.getMonth() + 1) + '/' + date.getDate() + ' ' + date.getHours() + ':' + (date.getMinutes() < 10 ? '0' : '') + date.getMinutes();
							if (!(time_startArr.indexOf(data[key]) > -1))
								time_startArr.push(data[key]);
							}
						else if (key === 'end') {
							var date = new Date(value);
							data[key] = (date.getMonth() + 1) + '/' + date.getDate() + ' ' + date.getHours() + ':' + (date.getMinutes() < 10 ? '0' : '') + date.getMinutes();
							if (!(time_endArr.indexOf(data[key]) > -1))
								time_endArr.push(data[key]);
						}
					})

					time_idObj[data['time_id']].push({
						id: data['id'],
						title: data['title']
					});
				})
			}
		});
		return json;
	})();

	// console.log(time_startArr); console.log(time_endArr);
	//console.log(time_idObj);

	var renderHtml_1 = '', renderHtml_2 = '';

	//render出final slot
	for (var i = 0; i < 10; i++) {
		var mon_data = i + 37,
				tue_data = i + 47,
				wed_data = i + 57;
		renderHtml_1 += '<tr class="final_slot" id="final_slot_' + i + '">';
		renderHtml_1 += '<td class="time_td">' + time_startArr[i].substring(5, 10) + '<br>~<br>' + time_endArr[i].substring(5, 10) + '</td>';

		renderHtml_1 += '<td class="mon_td" data="' + mon_data + '"> <div class="mon_div">1</div> </td>';
		renderHtml_1 += '<td class="mon_td" data="' + mon_data + '"> <div class="mon_div">2</div> </td>';
		renderHtml_1 += '<td class="mon_td" data="' + mon_data + '"> <div class="mon_div">3</div> </td>';
		renderHtml_1 += '<td class="mon_td" data="' + mon_data + '"> <div class="mon_div">4</div> </td>';
		renderHtml_1 += '<td class="mon_td" data="' + mon_data + '"> <div class="mon_div">5</div> </td>';

		renderHtml_1 += '<td class="tue_td" data="' + tue_data + '"> <div class="tue_div">1</div> </td>';
		renderHtml_1 += '<td class="tue_td" data="' + tue_data + '"> <div class="tue_div">2</div> </td>';
		renderHtml_1 += '<td class="tue_td" data="' + tue_data + '"> <div class="tue_div">3</div> </td>';
		renderHtml_1 += '<td class="tue_td" data="' + tue_data + '"> <div class="tue_div">4</div> </td>';
		renderHtml_1 += '<td class="tue_td" data="' + tue_data + '"> <div class="tue_div">5</div> </td>';

		renderHtml_1 += '<td class="wed_td" data="' + wed_data + '"> <div class="wed_div">1</div> </td>';
		renderHtml_1 += '<td class="wed_td" data="' + wed_data + '"> <div class="wed_div">2</div> </td>';
		renderHtml_1 += '<td class="wed_td" data="' + wed_data + '"> <div class="wed_div">3</div> </td>';
		renderHtml_1 += '<td class="wed_td" data="' + wed_data + '"> <div class="wed_div">4</div> </td>';
		renderHtml_1 += '<td class="wed_td" data="' + wed_data + '"> <div class="wed_div">5</div> </td>';

		renderHtml_1 += '</tr>';
	}

	$('tbody').append(renderHtml_1);

	for (var i = 0; i < 10; i++) {

		var mon_data = i + 37,
				tue_data = i + 47,
				wed_data = i + 57;
		var rowNum = Math.max(time_idObj[mon_data].length / 5, time_idObj[tue_data].length / 5, time_idObj[wed_data].length / 5);
		rowNum = Math.ceil(rowNum);
		renderHtml_2 = '';

		for (var j = 0; j < rowNum; j++) {
			var fiveJ = j * 5;
			console.log(time_idObj[mon_data][fiveJ]);
			renderHtml_2 += '<tr>';
			renderHtml_2 += '<td></td>';

			for (var z = 0; z < 5; z++) {
				if(time_idObj[mon_data][fiveJ + z])
					renderHtml_2 += '<td class="mon_td_event" data="' + time_idObj[mon_data][fiveJ + z].id + '"> <div class="mon_div"><b>' + time_idObj[mon_data][fiveJ + z].title + '</b></div> </td>';
				else
					renderHtml_2 += '<td class="mon_td_event" data=""> <div class="mon_div"><b></b></div> </td>';
			}

			for (var z = 0; z < 5; z++) {
				if(time_idObj[tue_data][fiveJ + z])
					renderHtml_2 += '<td class="tue_td_event" data="' + time_idObj[tue_data][fiveJ + z].id + '"> <div class="mon_div"><b>' + time_idObj[tue_data][fiveJ + z].title + '</b></div> </td>';
				else
					renderHtml_2 += '<td class="tue_td_event" data=""> <div class="tue_div"><b></b></div> </td>';
			}

			for (var z = 0; z < 5; z++) {
				if(time_idObj[wed_data][fiveJ + z])
					renderHtml_2 += '<td class="wed_td_event" data="' + time_idObj[wed_data][fiveJ + z].id + '"> <div class="wed_div"><b>' + time_idObj[wed_data][fiveJ + z].title + '</b></div> </td>';
				else
					renderHtml_2 += '<td class="wed_td_event" data=""> <div class="wed_div"><b></b></div> </td>';
			}

			renderHtml_2 += '</tr>';
		}
		var selector = 'tr#final_slot_' + i + '.final_slot';
		$(selector).before(renderHtml_2);
	}
</script>
