<script type="text/javascript">
	var user_idObj = {},
		time_startArr = [],
		time_endArr = [];
	var json = (function () {
		var json = null;
		$.ajax({
			'async': false,
			'global': false,
			'url': 'http://ioh.rocks/api/live.json',
			'dataType': "json",
			'success': function (data) {
				json = data;
				$.each(json, function (index, data) {

					if (!(data['user_id'] in user_idObj))
						user_idObj[data['user_id']] = 1;
					else
						user_idObj[data['user_id']] += 1;

					data['id'] = index;

					data['title'] += ('\n' + data['school'] + '\n' + data['department']);

					$.each(data, function (key, value) {
						if (key === 'start') {
							var date = new Date(value);
							data[key] = (date.getMonth() + 1) + '/' + date.getDate() + ' ' + date.getHours() + ':' + (date.getMinutes() < 10 ? '0' : '') + date.getMinutes();
							if (!(time_startArr.indexOf(data[key]) > -1))
								time_startArr.push(data[key]);
							}
						else if (key === 'end') {
							var date = new Date(value);
							data[key] = (date.getMonth() + 1) + '/' + date.getDate() + ' ' + date.getHours() + ':' + (date.getMinutes() < 10 ? '0' : '') + date.getMinutes();
							if (!(time_endArr.indexOf(data[key]) > -1))
								time_endArr.push(data[key]);
							}
						})
				})
			}
		});
		return json;
	})();

	// console.log(time_startArr); console.log(time_endArr);
	console.log(json);

	var renderHtml = '';

	for (var i = 0; i < time_startArr.length; i++) {
		renderHtml += '<tr class="final_slot" id="final_slot_' + i + '" data="' + time_startArr[i].substring(5, 10) + '">';
		renderHtml += '<td class="time_td">' + time_startArr[i].substring(5, 10) + '<br>~<br>' + time_endArr[i].substring(5, 10) + '</td>';

		renderHtml += '<td class="mon_td"> <div class="mon_div">1</div> </td>';
		renderHtml += '<td class="mon_td"> <div class="mon_div">2</div> </td>';
		renderHtml += '<td class="mon_td"> <div class="mon_div">3</div> </td>';
		renderHtml += '<td class="mon_td"> <div class="mon_div">4</div> </td>';
		renderHtml += '<td class="mon_td"> <div class="mon_div">5</div> </td>';

		renderHtml += '<td class="tue_td"> <div class="tue_div">1</div> </td>';
		renderHtml += '<td class="tue_td"> <div class="tue_div">2</div> </td>';
		renderHtml += '<td class="tue_td"> <div class="tue_div">3</div> </td>';
		renderHtml += '<td class="tue_td"> <div class="tue_div">4</div> </td>';
		renderHtml += '<td class="tue_td"> <div class="tue_div">5</div> </td>';

		renderHtml += '<td class="wed_td"> <div class="wed_div">1</div> </td>';
		renderHtml += '<td class="wed_td"> <div class="wed_div">2</div> </td>';
		renderHtml += '<td class="wed_td"> <div class="wed_div">3</div> </td>';
		renderHtml += '<td class="wed_td"> <div class="wed_div">4</div> </td>';
		renderHtml += '<td class="wed_td"> <div class="wed_div">5</div> </td>';

		renderHtml += '</tr>';
	}

</script>

<style>
	table {
		border-collapse: collapse !important;
	}

	table,
	td,
	th {
		border: 1px solid black !important;
	}
	.table > tbody > tr > td.time_td {
		vertical-align: middle;
	}

	.thaed_css {
		width: 31.666%;
	}

	.final_slot {
		background-color: white;
	}

	.mon_td,
	.tue_td,
	.wed_td {
		background-color: rgba(0, 0, 0, 0.2);
	}

</style>

<%= render "live_nav" %>

<table class="table text-center table-condensed">
	<thead>
		<tr>
			<th style="width: 5%;"></th>
			<th class="text-center thaed_css" colspan="5">Monday 7/18</th>
			<th class="text-center thaed_css" colspan="5">Tuesday 7/19</th>
			<th class="text-center thaed_css" colspan="5">Wednesday 7/20</th>
		</tr>
	</thead>
	<tbody></tbody>
</table>

<script type="text/javascript">
	$('tbody').append(renderHtml);
</script>
