

<% if @live.feedback.present? %>
	<h2>Feedback</h2>
	<p><%= @live.feedback %></p>
<% end %>

<div class="container col-md-7">
	<%= form_for @live, :url => "/admin/live/#{@live.id}" do |f| %>
		<%= render :partial => "edit_form", :locals => { :f => f } %>
	<% end %>
</div>
