<table>
	<thead>
		<tr>
			<th>start</th>
			<th>end</th>
		</tr>
	</thead>
	<tbody>
		<% @times.each do |time| %>
			<tr>
				<td><%= time.start.strftime("%Y/%m/%d %H:%M:%S") %></td>
				<td><%= time.end.to_s(:short) %></td>
			</tr>
		<% end %>
	</tbody>
</table>

