<style>
	body {
		background-color: black;
	}
</style>
<div style="background-color: black; color: #cccccc">
  <div class="container">
    <div class="col-md-12">
    	<h2>報名截止囉！！！</h2>
      <p>您好，我們的直播報名期限已經截止了，如欲報名或詢問相關事宜，請聯繫我們。 E-Mail: gt@ioh.tw，感謝您，我們會盡快和您聯繫！</p>
    </div>
  </div>
</div>