<section style="background-color: black; height: 100%;">
  <div>
    <%= image_tag("success-banner.png", class: "img-responsive") %>
  </div>
  <div style="background-color: white; width: 100%;">
    <div class="container">
      <br>
      <b><h2 class="title">表格已送出 | <i>FORM submitted!</i></h2></b>
      <p>
        已提交出去的資料無法做更改。如需更改,請聯繫廖于欣專員:ioh04010@gmail.com,感謝!
      </p>
      <br>
    </div>
  </div>
  <div style="background-color: black; color: #D1D2D4">
    <div class="container" >
      <b><h2><i>EQUIPMENTs?</i></h2></b>
      <span>直播問題</span><br>
      <span>講者需要用配有網路攝影機、麥克風的電腦來做直播,後續 IOH 團隊將會提供直播之技術支援教學,若是有高速網路需求,也可以至 IOH Studio 來做直播。</span>
      <br><br>
      <b><h2><i>QUESTIONs?</i></h2></b>
      <span>聯絡方式</span><br>
      <span>Email : ioh@ioh.tw</span><br>
      <span>Office: 02-2931-8954</span><br>
    </div>
  </div>
</section>
<script>
    ga('send', 'pageview', '<%= request.path %>');
</script>
