<section style="background-color: black; height: 100%;">
  <div>
    <%= image_tag("success-banner.png", class: "img-responsive") %>
  </div>
  <div style="background-color: white; width: 100%;">
    <div class="container">
      <br>
      <b><h2 class="title">表格已送出 | <i>FORM submitted!</i></h2></b>
      <p>
        感謝你參與 IOH 2016 指考直播諮詢會，相信有你的參與，50,000 名指考學生在選擇學校和科系時，會更加有方向。
      </p>
      <br>
    </div>
  </div>
  <div style="background-color: black; color: #D1D2D4">
    <div class="container" >
      <h2 class="title">
        <i>EQUIPMENT?</i>
      </h2>
      <p>直播問題<br />講者需要配有電腦、攝影鏡頭（或電腦內建），附有麥克風的耳機，並且確認網路順暢，來進行直播，後續 IOH 團隊將會提供直播之技術支援教學。</p>
      <h2 class="title">
        <i>QUESTIONs?</i>
      </h2>
      <p>聯絡方式<br />
        張鈞婷<br />
        E-mail：gt@gmail.com<br />
        Office：02-2931-8954<br />
        Phone：0919-099-125
      </p>
    </div>
  </div>
</section>
