//for Live
.title {
    color: red;
    padding-left: 15px;
    span {
      float: right;
      margin-right: 5px;
      color: yellow;
      font-weight: 300;
    }
}
.gray {
    color: gray;
}
.blue {
    color: blue;
}
.btn-gray {
    color: white;
    border-radius: 0 !important;
}

.btn-gray:focus {
    background-color: #999999;
    color: white;
    border-radius: 0 !important;
}

.btn.btn-date {
    width: 18%;
    background-color: white;
    color: black;
    margin-right: 9px;
    margin-bottom: 8px;
    border-radius: 0 !important;
    padding: 5px;
    text-align: left;

    span{
      font-size: 0.9em;
      padding-left: 3px;
      cursor: pointer;
      overflow: auto;
    }
}

.circle {
  width: 100%;
  border-radius: 50%;
  border: 1px dashed red;

  h3{
    color: red;
    margin-bottom: -10px;
  }
}
.form-live-reg {
  border-radius: 0px !important;
  border-color: #999999;
}
.form-live-reg:focus {
  box-shadow: 0 1px 1px rgba(153, 153, 153, 0.075) inset, 0 0 8px rgba(0, 0, 0, 0.6) !important;
  box-shadow: none !important;
  border-color: #999999 !important;
}
.live-new {
  background-color: black !important;
  color: white;
  padding: 30px 30px 30px 30px;
}

#live_location_input{
  width: 80% ;
}

#live_location_post {
  display: none;
}

.display_none {
  display: none;
}

#under_title {
  margin-top: 0;
  margin-bottom: 25px;
  padding-left: 15px;
}
