//for Live
.title {
    color: red;
}
.gray {
    color: gray;
}
.blue {
    color: blue;
}
.btn-gray {
    background-color: #999999;
    color: white;
    border-radius: 0 !important;
}
.btn.btn-date {
    background-color: red;
    color: white;
    width: 15%;
    margin-right: 5px;
    margin-bottom: 9px;
    border-radius: 0 !important;
}
.circle {
  width: 100%;
  border-radius: 50%;
  border: 1px dashed red;
}
.form-live-reg {
  border-radius: 0px !important;
  border-color: #999999;
}
.form-live-reg:focus {
  box-shadow: 0 1px 1px rgba(153, 153, 153, 0.075) inset, 0 0 8px rgba(0, 0, 0, 0.6) !important;
  box-shadow: none !important;
  border-color: #999999 !important;
}
.live-new {
  background-color: black !important;
  color: white;
  padding: 30px 30px 30px 30px;
}

#live_location_input{
  width: 80% ;
}

#live_location_post {
  display: none;
}

.display_none {
  display: none;
}
