//for Live
.title {
    color: red;
}
.gray {
    color: gray;
}
.blue {
    color: blue;
}
.btn-gray {
    background-color: #999999;
    color: white;
    border-radius: 0 !important;
}
.circle {
  width: 100%;
  border-radius: 50%;
  border: 1px dashed red;
}
